* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

#videoBG {
  position: fixed;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

h1 {
  margin-top: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 5%;
  min-height: 5vh;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  padding-right: 2%;
}

.nav-links li {
  padding-right: 2rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding-bottom: 25vh;
}

.about-me {
  display: grid;
  grid-template-columns: 10% 40% 30% 20%;
  grid-template-rows: 20vh 60vh 20vh;
  grid-gap: 1%;
  padding-top: 5%;
}

.about-me-h2 {
  grid-row: 2/2;
  grid-column: 3/3;
  align-self: start;
}

.about-me-img {
  grid-column: 2/2;
  grid-row: 2/2;
  max-width: 100%;
  align-self: center;
}

.about-me p {
  grid-column: 3/3;
  grid-row: 2/2;
  align-self: center;
}

.portfolio {
  display: grid;
  grid-template-columns: 10% 40% 40% 20%;
  grid-template-rows: auto auto auto;
  row-gap: 5%;
}

article, .virtual-pet {
  grid-row: 1/1;
  grid-column: 2/3;
}

section h2 {
  grid-column: 2/3;
}

.fizzbuzz {
  grid-row: 2/2;
}

.website {
  grid-row: 3/3;
}

.contact-h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

.contact-icons {
  display: flex;
  grid-column: 3 / 4;
  justify-content: space-evenly;
  max-width: 100%;
  align-items: center;
  padding-top: 3%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 5vh;
  padding-top: 2%;
}
