/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

/********************
GENERAL
*********************/
:root {
    --primary-color: white;
    --secondary-color: dodgerblue;
    --third-color: salmon;
}

/********************
HEADING
*********************/

.header-h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 4em;
    background-color: black;
    color:var(--primary-color);
    padding: 0%;
    margin: 0%;
}

a:link {
    text-decoration: none ;
    color:var(--primary-color);
    
}

a:hover {
    text-decoration: none;
    color:var(--secondary-color);
    transition: color 1s;
}

/********************
NAVIGATION
*********************/
.navigation {
    background-color: black;
    font-family: 'Bebas Neue', cursive;
    color:var(--primary-color);
    font-size: 2em;
    padding: 0%;
    margin: 0%;
}

nav {
    text-align: right; 
    padding: 10px 0;
    margin: 20px 0 0;
  }

nav ul {
    list-style: none;
    margin: 0 10px;
    padding: 0;
  }

nav li {
    display: inline-block;
  }
  