/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

/********************
GENERAL
*********************/
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(28, 141, 255);
  --third-color: rgb(228, 87, 72);
}

/********************
HEADING
*********************/

.header-h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  color: var(--primary-color);
}

a:link {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 1s;
}

a:visited { 
  text-decoration: none; 
  color: var(--primary-color);
}

a:visited:hover { 
  text-decoration: none; 
  color: var(--secondary-color);
  transition: color 1s;
}

/********************
NAVIGATION
*********************/

nav {
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  color: var(--primary-color);
  font-size: 2em;
}

.header-h1 a:hover {
  color: var(--third-color);
  transition: color 1s;
}

nav ul {
  list-style: none;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 3em;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 2em;
}

body {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}

article h3 {
  border: 5px white;
}

.about-me-img {
  border-radius: 25px;

}

.gh-icon {
  transition: all .3s ease-in-out;
}

.gh-icon:hover {
  
  transform: scale(1.2);
}

.gm-icon {
  transition: all .3s ease-in-out;
}

.gm-icon:hover {
  
  transform: scale(1.2);
}

.li-icon {
  transition: all .3s ease-in-out;
}

.li-icon:hover {
  
  transform: scale(1.2);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.h1-dot{
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
}
