/*font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif;*/

/********************
GENERAL
*********************/
:root {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(28, 141, 255);
  --third-color: rgb(230, 64, 46);
}

/********************
HEADING
*********************/

.header-h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 2em;
  color: var(--primary-color);
}

a:link {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  text-decoration: none;
  color: var(--secondary-color);
  transition: color 1s;
}

/********************
NAVIGATION
*********************/

nav {
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  color: var(--primary-color);
  font-size: 2em;
}

nav ul {
  list-style: none;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-weight: lighter;
  font-size: 2em;
}

body {
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
}
